/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

html, body{
  margin: 0px;
  background-image: url("assets/muralsMap.jpg");
  background-color: #4b5a6c;
  overflow: hidden;
}
