<div class="container">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <h1>register</h1>

    <input placeholder="Username" class="input" type="text" name="username" id="username" formControlName="username">
    <div *ngIf="submitted && messageForm.controls.username.errors">
      <div *ngIf="messageForm.controls.username.errors.required">This field can't be empty</div>
    </div><br><br>

    <input placeholder="Email" class="input" type="text" name="email" id="email" formControlName="email">
    <div *ngIf="submitted && messageForm.controls.email.errors">
      <div *ngIf="messageForm.controls.email.errors.required">This field can't be empty</div>
    </div><br><br>

    <input placeholder="Password" class="input" type="text" name="password" id="password" formControlName="password" type="password">
    <div *ngIf="submitted && messageForm.controls.password.errors">
      <div *ngIf="messageForm.controls.password.errors.required">This field can't be empty</div>
    </div><br><br>

    <input placeholder="Repeat password" class="input" type="text" name="passwordRepeat" id="passwordRepeat" formControlName="passwordRepeat" type="password">
    <div *ngIf="submitted && messageForm.controls.passwordRepeat.errors">
      <div *ngIf="messageForm.controls.passwordRepeat.errors.required">This field can't be empty</div>
    </div><br><br>

    <input type="submit" value="Register">
    <br>
    <div *ngIf="loginError">
      <div>Wrong username/password combination</div>
    </div>
    <a href="/login">Already have an account?</a>

  </form>
</div>
