.container {
  height: 100%;;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto auto auto auto;
}

form {
  height: 410px;
  width: 400px;
  background-color: white;

  border-radius: 30px;
}

.input {
  padding: 12px;
  border: 1px solid rgba(211,211,211,1);
  border-radius: 5px;
}

input[type="submit"] {
  padding: 12px;
  background-color: white;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 50px;
  font-weight: bold;
  &:hover{
    background-color: #eaf5fd;
  }
}
