<div class="container_journey">
 <!--<div class="but">-->
  <!--<button href="" target="_blank">Create a journey</button>-->
 <!--</div>-->
  <div class="profile">
    <a href="" class="pp"><img src="../../../assets/pro.png" width="128"></a>
    <h4 class="namez">{{userName}}</h4>
  </div>
  <div class="card" *ngFor="let journey of searchResults">
    <h1>{{journey.journeyName}}</h1>
    <h4>{{journey.journeySummary}}</h4>
    <a href="/step" (click)="send(journey.journeyName)"><span></span></a>
    <img class="mgg" src="../../../assets/arrow.png" width="64">
  </div>
  <!--<div class="creatJourney">-->
    <!--<form [formGroup]="journeyForm">-->
      <!--<div class="form-group">-->
        <!--<label for="name">Name</label>-->
        <!--<input type="text" class="form-control" id="name" required>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label for="alterEgo">Alter Ego</label>-->
        <!--<input type="text" class="form-control" id="alterEgo">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-success">Submit</button>-->
    <!--</form>-->
  <!--</div>-->
</div>


