
html,body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow:hidden;
  z-index: 900;
}

.header {
  overflow: hidden;
  background-color: #002e3d;
  padding: 20px 10px;
  z-index: 900;
  color: white;

}

.header a {

  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  z-index: 900;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  z-index: 900;
}

.header a:hover {
  background-color: #002e3d;
  color: white;
  z-index: 900;
}


.header-right {
  float: right;
  z-index: 900;
}
